= f.text_field   :title,       placeholder: "Título",                              class: "radius"
= f.number_field :prep_time,   placeholder: "Tiempo de Preparación en MINUTOS",    class: "radius"      
= f.text_area    :description, placeholder: "Descripción", rows: 10,               class: "radius"
= f.text_area    :steps,       placeholder: "Instrucciones", rows: 10,             class: "radius"
= f.file_field   :picture,     accept: "image/jpeg,image/jpg,image/gif,image/png", class: "radius"
/ .open-container
/   %a.open-options{:href => "#"}
/     Click para elegir Cocina e Ingredientes!
/ .options
/   .large-6.small-6.columns
/     %strong Cocinas:
/     = f.collection_check_boxes :cocina_ids, Cocina.all, :id, :nombre do |cocina|
/       - cocina.label {cocina.check_box + " " + cocina.text}
/   .large-6.small-6.columns
/     %strong Ingredientes:
/     = f.collection_check_boxes :ingrediente_ids, Ingrediente.all, :id, :nombre do |ing|
/       = ing.label {ing.check_box + " " + ing.text}