- provide(:title, @recipe.title)

.recipe-show
  .row.recipe-picture-container
    = image_tag(@recipe.picture.url(:show), class: "recipe-picture") if @recipe.picture?
  .row
    .large-12.columns
      = render "shared/title", title: @recipe.title.titleize
  .row
    .large-3.small-3.columns.recipe-gravatar
      = link_to gravatar(@recipe.user), user_path(@recipe.user)
    .large-6.small-6.columns
      %h3.user
        = link_to full_name(@recipe.user).titleize, user_path(@recipe.user)
    .large-3.small-3.columns.like-heart
      = link_to like_recipe_path(@recipe), method: :post do
        %i.fa.fa-heart.fa-3x
        %br/
        = @recipe.total_likes
  %hr/
  .row
    .large-12.small-12.columns
      %h3.center
        %i.fa.fa-clock-o.fa-lg
        %span.minutes
          = @recipe.prep_time
        minutos
  %hr/
  .row
    .large-12.small-12.columns
      = render @recipe.cuisines
  %hr/
  .row
    .large-12.small-12.columns
      %h3.subtitle Descripción
      = simple_format(@recipe.description)
  %hr/
  .row
    .large-12.small-12.columns
      %h3.subtitle Ingredientes
      = render @recipe.ingredients
  %hr/
  .row
    .large-12.small-12.columns
      %h3.subtitle Instrucciones
      = simple_format(@recipe.steps)
  %hr/
  .row
    .large-6.small-6.columns
      %p.timestamps
        Creado:
        = time_ago_in_words(@recipe.created_at)
    .large-6.small-6.columns
      %p.timestamps
        Actualizado:
        = time_ago_in_words(@recipe.updated_at)
  %hr/
  .row.buttons
    - if logged_in? && @recipe.user == current_user
      .large-4.small-4.columns
        = link_to edit_recipe_path do
          %i.fa.fa-pencil-square-o.fa-2x.left
      .large-4.small-4.columns.center
        = link_to recipe_path(@recipe), method: :delete, data: { confirm: "Estás seguro?" } do
          %i.fa.fa-trash-o.fa-2x
      .large-4.small-4.columns
        = link_to recipes_path do
          %i.fa.fa-arrow-circle-o-left.fa-2x.right
    - else
      .large-12.small-12.columns
        %p.right.back
          = link_to recipes_path do
            %i.fa.fa-arrow-circle-o-left.fa-2x