- provide(:title, "Crear Cocina")

.row
  = render "shared/error_messages", obj: @cuisine
  .large-12.columns
    = render "shared/title", title: "Crear Cocina"
    = form_for @cuisine do |f|
      = f.text_field :name, placeholder: "Procedencia: china, mexicana, japonesa...", class: "radius"
      = f.submit "Crear Cocina", class: "button expand radius success"
    %p.right
      = link_to recipes_path do
        %i.fa.fa-arrow-circle-o-left.fa-2x