- provide(:title, "Cocina #{@cuisine.name.capitalize}")

= render "shared/title", title: "Recetas de Cocina #{@cuisine.name.capitalize}"

%hr/
.pagination-centered
  = will_paginate @recipes, renderer: FoundationPagination::Rails
%br/

= render "shared/list", obj: @cuisine.recipes

.pagination-centered
  = will_paginate @recipes, renderer: FoundationPagination::Rails
%br/
