= render "shared/error_messages", obj: @user
= f.text_field     :first_name,            placeholder: "Nombre",               class: "radius"
= f.text_field     :last_name,             placeholder: "Apellido",             class: "radius"
= f.email_field    :email,                 placeholder: "Email",                class: "radius"
= f.text_area      :bio,                   placeholder: "Sobre ti", rows: 10,   class: "radius"
= f.password_field :password,              placeholder: "Password",             class: "radius"
= f.password_field :password_confirmation, placeholder: "Confirma el password", class: "radius"