- provide(:title, full_name(@user))

%row
  %aside.large-2.columns#user_area
    %section.large-12.columns.text-center
      = gravatar(@user)
      %h3= full_name(@user)
- if @user.recipes.any?
  %row
    .pagination-centered
      = will_paginate @recipes, renderer: FoundationPagination::Rails
    %br/

    = render "shared/list", obj: @recipes

    .pagination-centered
      = will_paginate @recipes, renderer: FoundationPagination::Rails
    %br/