- provide(:title, @title)

= render "show_user"
%hr/
%h3.title= @title
- if @users.any?
  .pagination-centered
    = will_paginate @collection, renderer: FoundationPagination::Rails, inner_window: 1, outer_window: 0

  - @users.each do |user|
    = render user

  .large-12.columns.pagination-centered
    = will_paginate @collection, renderer: FoundationPagination::Rails, inner_window: 1, outer_window: 0