- obj.each do |recipe|
  = link_to recipe_path(recipe) do
    .recipe-index
      .row
        .large-6.small-6.columns.recipe-img
          = image_tag(recipe.picture.url) if recipe.picture?
        .large-6.small-6.columns.recipe-text
          %h4= recipe.title
          %h6= full_name(recipe.user)
          %h6
            %i.fa.fa-clock-o.fa-fw
            = recipe.prep_time
            &nbsp&nbsp
            = link_to like_recipe_path(recipe), method: :post do
              %i.fa.fa-heart.fa-fw
              = recipe.total_likes
          %p
            %small
              Updated
              = time_ago_in_words(recipe.updated_at) 
              ago.