- provide(:title, "Recetas con #{@ingredient.name.capitalize}")

= render "shared/title", title: "Recetas con #{@ingredient.name.capitalize}"

.center
  = link_to ingredient_path(@ingredient), method: :delete, data: { confirm: "Estás seguro?" } do
    %i.fa.fa-trash-o.fa-2x

%hr/
.pagination-centered
  = will_paginate @recipes, renderer: FoundationPagination::Rails, inner_window: 1, outer_window: 0
%br/

= render "shared/list", obj: @ingredient.recipes

.pagination-centered
  = will_paginate @recipes, renderer: FoundationPagination::Rails, inner_window: 1, outer_window: 0
%br/