- if !logged_in?
  .intro
    %br/
    %a.button.expand.alert.radius{href: "#{signup_path}"} Reg&iacute;strate!

.row.recientes

  .large-12.columns.item
    = render "shared/title", title: "Recetas"
    %ul.button-group.even-2.radius
      %li
        %a.button{href: "#{recipes_path}"}
          Ver Recetas
      %li
        %a.button.success{href: "#{new_recipe_path}"}
          Crear Receta

  .large-12.columns.item
    = render "shared/title", title: "Cocineros"
    %a.button.expand.radius{href: "#{users_path}"}
      Conocer Cocineros

  .large-12.columns.item
    = render "shared/title", title: "Cocinas"
    %a.button.expand.radius{href: "#{cuisines_path}"}
      Explorar Cocinas
