%nav.tab-bar
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon{href: "#"}
      %span
  %section.middle.tab-bar-section
    %h1#logo.title
      = link_to root_path do
        %i.fa.fa-cutlery.fa-fw
        CocinitApp!
  %section.right-small
    %a.right-off-canvas-toggle.menu-icon{href: "#"}
      %span
%aside.left-off-canvas-menu
  %ul.off-canvas-list
    - if logged_in?
      %li
        %label Recetas
      %li
        = link_to new_recipe_path do
          %i.fa.fa-plus-circle.fa-fw 
          Crear Receta
      %li
        = link_to recipes_path do
          %i.fa.fa-cutlery.fa-fw
          Ver Recetas  
      %li
        %label Cocinas
      %li
        = link_to new_cuisine_path do
          %i.fa.fa-plus-circle.fa-fw
          Crear Cocina
      %li
        = link_to cuisines_path do
          %i.fa.fa-flag.fa-fw
          Ver Cocinas
      %li
        %label Ingredientes
      %li
        = link_to "#" do
          %i.fa.fa-plus-circle.fa-fw
          Crear Ingrediente
      %li
        = link_to "#" do
          %i.fa.fa-shopping-cart.fa-fw
          Ver Ingredientes
    - else
      %li
        %label Todas las Recetas
      %li
        = link_to recipes_path do
          %i.fa.fa-cutlery.fa-fw
          Ver Recetas  
      %li
        %label Por Cocina
      %li
        = link_to "#" do
          %i.fa.fa-flag.fa-fw
          Ver Cocinas
      %li
        %label Por Ingredientes
      %li
        = link_to "#" do
          %i.fa.fa-shopping-cart.fa-fw
          Ver Ingredientes
%aside.right-off-canvas-menu
  %ul.off-canvas-list
    - if logged_in?
      %li
        %label Cocineros
      %li
        = link_to followers_user_path(current_user) do
          %i.fa.fa-users.fa-fw 
          = "Me Siguen (#{current_user.followers.count})"
      %li
        = link_to following_user_path(current_user) do
          %i.fa.fa-users.fa-fw
          = "Los Sigo (#{current_user.following.count})"
      %li
        = link_to users_path do
          %i.fa.fa-users.fa-fw 
          Todos
      %li
        %label Mi Cuenta
      %li
        = link_to current_user do
          %i.fa.fa-user.fa-fw 
          Mi Perfil
      %li
        = link_to edit_user_path(current_user) do
          %i.fa.fa-user.fa-fw 
          Editar Perfil
      %li
        = link_to logout_path, method: :delete do
          %i.fa.fa-sign-out.fa-fw 
          Salir
    - else
      %li
        %label Cuenta
      %li
        = link_to login_path do
          %i.fa.fa-sign-in.fa-fw 
          Entrar
      %li
        = link_to signup_path do
          %i.fa.fa-user-plus.fa-fw 
          Registro
      %li
        = link_to about_path do
          %i.fa.fa-users.fa-fw 
          Nosotros