%nav.tab-bar
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon{href: "#"}
      %span
  %section.middle.tab-bar-section
    %h1#logo.title
      = link_to root_path do
        %i.fa.fa-cutlery.fa-fw
        CocinitApp!
  %section.right-small
    %a.right-off-canvas-toggle.menu-icon{href: "#"}
      %span
%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label Recetas
    %li
      = link_to new_recipe_path do
        %i.fa.fa-plus-circle.fa-fw 
        Crear Receta
    %li
      = link_to recipe_path do
        %i.fa.fa-cutlery.fa-fw
        Ver Recetas  
    %li
      %label Cocinas
    %li
      = link_to new_cuisine_path do
        %i.fa.fa-plus-circle.fa-fw
        Crear Cocina
    %li
      = link_to cuisines_path do
        %i.fa.fa-flag.fa-fw
        Ver Cocinas
    %li
      %label Ingredientes
    %li
      = link_to new_ingredient_path do
        %i.fa.fa-plus-circle.fa-fw
        Crear Ingrediente
    %li
      = link_to ingredients_path do
        %i.fa.fa-shopping-cart.fa-fw
        Ver Ingredientes
%aside.right-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label Mi Cuenta
    %li
      = link_to "#" do
        %i.fa.fa-user.fa-fw 
        Perfil
    %li
      = link_to "#" do
        %i.fa.fa-user-plus.fa-fw 
        Registro
    %li
      = link_to "#" do
        %i.fa.fa-sign-in.fa-fw 
        Entrar
    %li
      = link_to "#" do
        %i.fa.fa-sign-out.fa-fw 
        Salir
    %li
      %label Mi Gente
    %li
      = link_to "#" do
        %i.fa.fa-users.fa-fw 
        Me Siguen
    %li
      = link_to "#" do
        %i.fa.fa-users.fa-fw
        Los Sigo