%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        = link_to "Tookieti", root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      %li.divider
      %li
        = link_to "Home", root_path
      %li.divider
      %li
        = link_to "About", about_path
      %li.divider
      - if logged_in?
        %li= link_to "Users", "#"
        %li.divider
        %li.has-dropdown
          = link_to "Account", "#"
          %ul.dropdown
            %li= link_to "Profile", current_user
            %li= link_to "Settings", "#"
            %li.divider
            %li
              = link_to "Log out", logout_path, method: "delete"
      - else
        %li.has-form
          = link_to "Log In", login_path, class: "button"
        %li.divider
        %li.has-form
          = link_to "Sign Up", signup_path, class: "button success"

      