!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? full_title(yield(:title))  : "TookieTi!"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render "layouts/header"
    - flash.each do |msg_type, msg|
      = content_tag(:div, msg, class: "alert-box #{msg_type}")
    = yield
    = javascript_include_tag "application"